@import url('https://fonts.googleapis.com/css2?family=NTR&family=Pacifico&display=swap');
* { box-sizing: border-box; }

body,
html { overflow-x: hidden; 
    font-family: "NTR";
}

.bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 25px 0;

  background-color: #e74c3c;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.sitemessage {
    font-size: 18px;
    font-family: "Pacifico";
    display: block; /* Important to give the content a width */

    width: 100%;
    transform: translateX(100%); /* Animation start out of the screen */

    /* Add the animation */
    animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}

.container{
    border: 2px solid black;
    font-size: 25px;
    height: 630px;
  background: linear-gradient(270deg, #ea480b, #d9b72c, #c6d92c);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


textarea{
  width: 300px;
  height: 150px;

}